/* @theme custom
 */

@import 'default';

:root {
  background-color: #f0f8ff;
}

footer {
  text-align: left;
}

p.quote {
  text-align: right;
  font-family: serif;
}

section>*:first-child {
  /* position: absolute; */
  flex-grow: 1;
}

section>*:nth-child(1) {
  flex-shrink: 1;
}

section>*:nth-last-child(2) {
  /* position: absolute; */
  flex-grow: 1;
}

/* pre, pre[class*="language-"] { */
/* } */

.highlighted-line {
  background-color: rgb(19, 119, 229);
  color: white;
  display: block;
}
